.custom_rules_builder {
  padding: 10px;
}

.error_message {
  padding: 0 10px 10px 55px;
  color: red;
}

.description_panel {
  background-color: #eceff1;
  overflow: auto;
  padding: 10px;
  font-size: 13px;
}

.description_panel .content {
  font-family: Roboto;
  padding: 20px;
  color: #37474e;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.description_panel .content h4 {
  margin: 8px 0;
  font-size: 12px;
  line-height: 19px;
}

.description_panel .content i {
  font-style: italic;
  font-family: 'roboto', sans-serif;
}

.description_panel .content code {
  font-family: monospace;
  padding: 5px 10px;
  font-size: 12px;
  display: block;
  background-color: #fff;
  margin-bottom: 5px;
}

.description_panel .content code strong {
  color: #3cb370;
  font-style: normal;
  font-size: normal;
  word-break: break-word;
  font-weight: bold;
}

.filtered_results {
  border: 1px #eceff1;
  background-color: #fff;
  position: absolute;
  width: 90%;
  height: 200px;
  margin-left: 50px;
  margin-top: 10px;
}

.filtered_results.hidden_filter {
  display: none;
}

.filtered_results td.left-content {
  width: 50%;
}

.keywords_panel div button:hover,
.operators_panel div button:hover,
.values_panel div button:hover {
  background-color: #eceff1;
}

.keywords_panel div button,
.operators_panel div button,
.values_panel div button {
  background-color: #fff;
  border: 0;
  padding: 5px;
  text-align: left;
  width: 100%;
}
